<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../template/head', { title: title } ); %>
    </head>
    <body>

        <header>
            <%- include ('../template/header', { username: username , configHeader:configHeader, currpage : currpage  }); %>
        </header>

        <main>
          <h3 style="text-align: center;margin-left: 10px;margin-top: 10px;">Report Page</h3>
            <form action="" method="GET" style="background-color: blanchedalmond;padding-bottom:20px;padding-right:20px;padding-left:20px;width: 1000px;height: 400px;border: 1px solid gainsboro;margin-top: 20px;margin-left: 5px;">
                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Họ và Tên Người Report</label>
                      <input placeholder="Họ và tên" class="form-control" id="inputEmail4" type="text" name="fullname">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="bophan">Bộ phận</label>
                      <input placeholder="Bộ phận" type="text" name="bophan" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress">Các chi nhánh</label>
                    <input placeholder="Nhập chi nhánh" type="text" name="chinhanh" class="form-control">
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">Các sản phẩm bán chạy</label>
                    <input placeholder="Nhập sản phẩm" name="sanphambanchay" class="form-control" id="inputAddress2">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="inputCity">Số lượng bán sản phẩm</label>
                      <input placeholder="Nhập số lượng" type="number" name="soluong" class="form-control">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputState">Các sản phẩm bán không chạy</label>
                      <input placeholder="Nhập sản phẩm" type="text" name="sanphambankhongchay" class="form-control">
                    </div>
                    <div class="form-group col-md-2">
                      <label for="inputZip">Tiền thu được</label>
                      <input placeholder="Nhập giá" type="number" name="total" class="form-control">
                    </div>
                  </div>

        <button type='submit'><a style="text-decoration: none;" name="all">Submit Report</a></button> 
        <img style="height: 400px;;width: 515px;margin-left: 985px;margin-top: -378px;" src="https://danangaz.com/wp-content/uploads/2018/10/33-min-1.jpg" alt="photo">
        <img style="margin-top: 5px;margin-left: -21px;width: 1000px;height: 170px;" src="https://anhdep123.com/wp-content/uploads/2020/05/%E1%BA%A3nh-c%E1%BA%A3m-%C6%A1n.jpg" alt="photo">
        <img style="border: 1px solid gainsboro;margin-top: -200px;margin-left: 985px;height: 173px;width: 515px;" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/122217012_263628948410275_7530321273644394189_n.png?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=NCxFqDm3N5QAX_IaVv0&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=4090d4b2d50b8a472640dd85bae1685b&oe=5FB9AB1F" alt="photo">
        </div>
            </form>
            </main>
          
        
            <%- include ('../template/footer'); %>
        </body>
</html>



