<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('../template/head', { title: title } ); %>
    </head>
    <body>

        <header>
            <%- include ('../template/header', { username: null , configHeader:configHeader, currpage : currpage  }); %>
        </header>

        <main>
            <form action="" method="GET" style="padding-bottom:20px;padding-right:20px;padding-left:20px;width: 700px;border: 1px solid gainsboro;margin-top: 20px;margin-left: 50px;">
    <div class='form-group'>
        <label>Họ và Tên Người Report</label> 
        <label>Chi nhánh</label> 
        <input type="text" name="fullname">
        
    </div>
    <div class='form-group'>
        <label>Bộ phận</label> 
        <input type="text" name="bophan">
        
    </div>
    <div class='form-group'>
            <label>Các chi nhánh của cửa hàng ATNShop</label> 
            <label>Chi nhánh</label> 
            <input type="text" name="chinhanh">
            
        </div>
        <div class='form-group'>
            <label>Các sản phẩm bán chạy của cửa hàng ATNShop</label> 
            <input type="text" name="sanphambanchay">
            
        </div>
        <div class='form-group'>
            <label>Số lượng bán sản phẩm</label> 
            <input type="number" name="soluong">
            
        </div>

        <div class='form-group'>
            <label>Các sản phẩm bán ế của cửa hàng ATNShop</label> 
            <input type="text" name="sanphambankhongchay">
        </div>
        <div class='form-group'>
            <label>Tiền thu được</label> 
            <input type="number" name="total">
        </div>
        <button type='submit'><a style="text-decoration: none;" name="all">Submit Report</a></button> 
        </div>
            </form>
            </main>
          
        
            <%- include ('../template/footer'); %>
        </body>
</html>



