    <!-- Footer -->
    <footer class="navbar-fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="/"> ATNShop: Cửa Hàng Bán Đồ Chơi!!! </a>
        </div>
        <!-- Copyright -->
    
    </footer>
    <!-- Footer -->